.reviews {
    min-height: 500px;
    padding-top: 20px;
    padding-bottom: 50px;
    &__header {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #0D0D0D;
    }
    &__item {
        margin-top: 60px;
        display: flex;
    }
    &__img {
        width: 169px;
        height: 169px;
        margin-right: 60px;
    }
    &__user-name {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #0D0D0D;
    }
    &__user-achievements {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #646464;
    }
    &__user-post {
        margin-top: 15px;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #0D0D0D;
    }
}
